<section class="stub">
  <div class="stub__content">
    <h1 class="stub__title">{{title}}</h1>
    <p class="stub__text">{{message}}</p>
    <a href="" class="stub__prev">Назад к чатам</a>
  </div>
</section>