.wrapper {
    margin: auto;
    width: 340px;
    min-height: 450px;
    padding: 50px 30px 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
}

.popup {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', 'Arial', sans-serif;
    justify-content: space-between;
    color: var(--text-dark-color);
    font-weight: 500;
}

.popup__title {
    margin-bottom: 24px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.popup__link {
    margin-top: 14px;
    text-align: center;
    font-size: 11px;
    color: var(--basic-theme-color);
    text-decoration-line: none;
}

.popup__list {
    margin-bottom: 47px;
}
