<div class="icon">
  <div class="icon__container">
    <p class="icon__text">Поменять аватар</p>
    <img src="../images/icon.svg" alt="avatar" class="icon__img">
  </div>
  <p class="icon__name">{{name}}</p>
</div>
