{{!< base/base}}

<section class="profile">
  <nav class="nav">
    <div class="nav__control">
      <p class="nav__control_type_prev">&larr;</p>
    </div>
  </nav>
  <div class="content">
    {{> icon/icon}}
    <div class="data">
      <ul>
        <li>{{> info/info type="password" name="prev_pass" field="Старый пароль" placeholder="•••••••••"}}</li>
        <li>{{> info/info type="password" name="new_pass" field="Новый пароль" placeholder="•••••••••••"}}</li>
        <li>{{> info/info type="password" name="repeat_pass" field="Повторите пароль" placeholder="•••••••••••"}}</li>
      </ul>
      {{> button/button text="Сохранить"}}
    </div>
  </div>
</section>
