<h1 class="popup__title">Вход</h1>
<ul>
  <li>
    {{> 'input/input' type="text" name="login" label="Логин"}}
    <p class="popup__error">Неверный логин</p>
  </li>
  <li>
    {{> 'input/input' type="password" name="password" label="Пароль"}}
    <div style="height: 112px;"></div>
  </li>
</ul>
{{> 'button/button' text="Авторизоваться"}}
<a href="./signUp.hbs" class="popup__link">Нет аккаунта?</a>
