.popup__text {
    margin-top: 16px;
    font-size: 9px;
    color: #999999;
}

.popup__input {
    padding: 7px 0;
    border-bottom: 1px solid #3369F3;
    outline: none;
}

.popup__input_error {
    color: red;
}

.popup__input::placeholder {
    font-size: 13px;
    color: #999999;
}

.popup__text:has(+ .popup__input:placeholder-shown) {
    visibility: hidden;
}
